.THIS .poster{
    height: 400px;
    width: 400px;
}

.THIS .margin-left-large{
    margin-left: 9rem;
}

.THIS .details{
    max-width: 40rem;
}

.THIS .oldPrice{
    text-decoration: line-through;
    color: dimgrey;
    font-size: 14px;
}

.THIS .newPrice{
    color: green;
    font-weight: bold;
}
.THIS .commentContainer{
    margin-top: 50px;
    width: 700px;
}

.THIS .stars{
    padding-right: 110px;
}

.THIS .userName{
    font-weight: bold;
}