.THIS.tile {
    background-color: white;
    cursor: pointer;
    width: 250px;
    text-overflow:ellipsis;
    white-space: nowrap;
    overflow: hidden;

}

.THIS .oldPrice{
    text-decoration: line-through;
    color: dimgrey;
    font-size: 14px;
}

.THIS .newPrice{
    color: green;
    font-weight: bold;
    font-size: 16px;
}

.THIS .standardPrice{
    font-size: 14px;
}