.THIS .poster{
    max-height: 380px;
    min-height: 380px;
}

.THIS .ratingContainer{
    width: 800px;
    height: 410px;
    position: relative;
}

.THIS .commentContainer{
    position: absolute;
    bottom: 0;
}

.THIS .commentBody textarea{
    height: 250px;
    width: 600px;
}